@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import "variable";
@import "base";
@import "util";
@import "component";
@import "cusowl";
@import "cusanimate";

.top-wrap{
    position: relative;
    .kv{
        position: relative;
        text-indent: -9999px;
        color: transparent;
        line-height: 0;
        @media screen and (max-width: 976px){
            display: none;
        }
        .kv-font{
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
        }
    }
    .kv-mobile{
        display: none;
        @media screen and (max-width: 976px){
            display: block;
        }
        .kv-font{
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
        }
    }
}
//Sandy約會都穿這一件
.video-section{
    padding-top: 66px;
    background: linear-gradient(178.65deg, #FEFBDC 5.85%, rgba(253, 252, 241, 0.92) 21.24%, #FCFFFD 68.75%);
    @media screen and (max-width: 976px){
        text-align: right;
        padding-top: 40px;
    }
    .text-sandy{
        position: relative;
        top: 20px;
        left: 10px;
        margin-right: 18px;
        @media screen and (max-width: 976px){
            margin-right: 10px;
            top: 10px;
            width: 150px;
        }
    }
}
.video-section-wrap{
    display: flex;
    max-width: 1200px;
    margin: 0 auto 85px;
    @media screen and (max-width: 976px){
        flex-direction: column;
        margin-bottom: 15px;
        padding: 0 16px;
    }
    .video-section-start{
        width: 74%;
        max-width: 890px;
        @media screen and (max-width: 976px){
            width: 100%;
        }
    }
    .video-section-end{
        width: 26%;
        margin-left: 44px;
        @media screen and (max-width: 976px){
            width: 80%;
            margin: 0 auto;
            display: flex;
            margin-top: 60px;
        }
        .text-wrap{
            font-size: 21px;
            text-align: left;
            @media screen and (max-width: 976px){
                font-size: 14px;
                margin-right: 0;
            }
            p{
                margin-bottom: 1.5rem;
                color: $gray-3;
            }
        }
        img{
            position: relative;
            margin-top: 63px;
            max-width: 232px;
            @media screen and (max-width: 976px){
                margin-top: -20px;
                margin-left: -20px;
                max-width: 136px;
                height: 100%;
            }
        }
    }
    .video{
        background-image: url(../images/video_cover.jpg);
        background-size: cover;
        width: 100%;
        padding-bottom: 56.3144%;
        position: relative;
    }
}
//Dcard實測
.dcard-section{
    padding: 65px 0 112px;
    background-image: url(../images/dcard_bg.svg),linear-gradient(180deg, #FEFBDC 0%, rgba(255, 253, 227, 0.91) 88.96%, rgba(255, 253, 237, 0.81) 102.28%);
    background-position: center right;
    background-repeat: no-repeat;
    @media screen and (max-width: 976px){
        padding: 36px 0;
        background-image: url(../images/m/dcard_bg.svg),linear-gradient(180deg, #FEFBDC 0%, rgba(255, 253, 227, 0.91) 88.96%, rgba(255, 253, 237, 0.81) 102.28%);
    }
    .emoji{
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;
        top: 1px;
        margin-left: 2px;
        @media screen and (max-width: 976px){
            width: 16px;
            height: 16px;
            top: 2px;
        }
    }
    .title-h2{
        img{
            margin: 0 15px;
            @media screen and (max-width: 976px){
                width: 38px;
                margin: 0 6px;
            }
        }
    }
    .container{
        max-width: 976px;
        @media screen and (max-width: 976px){
            max-width: 414px;
            padding: 0 38px;
        }
    }
    .d-flex{
        @media screen and (max-width: 976px){
            flex-direction: column;
        }
    }
    .dcard-graph{
        min-width: 503px;
        @media screen and (max-width: 976px){
            min-width: 100%;
            margin-bottom: 24px;
        }
    }
    .dcard-review{
        width: calc(100% - 53px - 503px);
        margin-left: 53px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 1;
        max-width: 100%;
        @media screen and (max-width: 976px){
            margin-left: 0;
            width: 100%;
        }
        p{
            font-size: 21px;
            color: $gray-1;
            @media screen and (max-width: 976px){
                font-size: 14px;
            }
        }
    }
    .dcard-review-list{
        margin-top: 80px;
        @media screen and (max-width: 976px){
            margin-top: 24px;   
        }
        li{
            width: 100%;
        }
    }
    .dcard-review-list-item{
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 8px 32px 15px;
        text-align: left;
        @media screen and (max-width: 976px){
            padding: 8px 16px 20px;
        }
        .name{
            color: $color-primary-1;
            font-size: 23px;
            margin-bottom: 10px;
            font-weight: 500;
            display: block;
        }
        .review{
            font-size: 19px;
            @media screen and (max-width: 976px){
                font-size: 14px;
            }
            .sticker{
                display: block;
                margin-top: 18px;
                margin-left: 0;
            }
        }
    }
}
//廣受大家喜愛的原因
.patent-wrap{
    padding-top: 72px;
    padding-bottom: 290px;
    background-image: url(../images/patent_wrap_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @media screen and (max-width: 976px){
        background-image: url(../images/m/patent_wrap_bg.png);
        background-size: 100% auto;
        padding-bottom: 100px;
    }
    .patent-main-img{
        max-width: 1020px;
        @media screen and (max-width: 976px){
            max-width: 414px;
        }
    }
    .time-line-wrap{
        background-image: url(../images/line.svg);
        background-position: center center;
        background-repeat: repeat-x;
        margin-top: 70px;
        @media screen and (max-width: 976px){
            background-image: none;
            position: relative;
            max-width: 414px;
            margin: 70px auto 0 auto;
            &:before{
                content: '';
                width: 3px;
                height: 490px;
                background-image: url(../images/m/line.svg);
                position: absolute;
                top: -70px;
                left: 38px;
                z-index: 0;
            }
        }   
    }
    .timeline{
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        @media screen and (max-width: 976px){
            flex-direction: column;
        }
        .title-h4{
            padding-top: 32px;
            @media screen and (max-width: 976px){
                text-align: left;
                padding-top: 0;
                padding-left: 80px;
            }
        }
        .info{
            @media screen and (max-width: 976px){
                text-align: left;
                padding-left: 80px;
            }
        }
        .time-drop{
            height: 205px;
            @media screen and (max-width: 976px){
                height: auto;
                margin-bottom: 70px;
            }
            &:nth-child(odd){
                position: relative;
                margin-top: calc(205px - 40px);
                @media screen and (max-width: 976px){
                    margin-top: 0;
                }
                &:before{
                    content: '';
                    display: block;
                    width: 32px;
                    height: 40px;
                    background-image: url(../images/drop.png);
                    background-size: contain;
                    margin: 0 auto;
                    @media screen and (max-width: 976px){
                        position: absolute;
                        left: 22px;
                        top: -8px;
                        margin: auto 0;
                    }
                }
            }
            &:nth-child(even){
                @media screen and (max-width: 976px){
                    position: relative;
                }
                &:after{
                    content: '';
                    display: block;
                    width: 32px;
                    height: 40px;
                    background-image: url(../images/drop.png);
                    background-size: contain;
                    margin: 0 auto;
                    margin-top: 32px;
                    @media screen and (max-width: 976px){
                        position: absolute;
                        left: 22px;
                        top: -8px;
                        margin: auto 0;
                    }
                }
                
            }
        }
    }
}
//秋冬真水內衣推薦
.series{
    padding: 75px 0;
    @media screen and (max-width: 976px){
        padding: 40px 0;
    }
    .title-h3{
        width: 190px;
        margin: 0 0 40px 0;
        @media screen and (max-width: 976px){
            width: 108px;
            margin: 0 0 20px 0;
        }
    }
    .series-top{
        display: flex;
        margin: 0 auto;
    }
    .series-info{
        width: 100%;
        text-align: left;
        .tag-line{
            color: #747474;
            font-size: 21px;
            margin-bottom: 20px;
            @media screen and (max-width: 976px){
                font-size: 12px;
                margin-bottom: 4px;
            }
        }
        .series-name{
            color: $color-primary-2;
            font-size: 19px;
            @media screen and (max-width: 976px){
                font-size: 13px;
            }
        }
        .icon{
            display: inline-block;
            position: relative;
        }
    }
    .model-carousel{
        max-width: 996px;
        margin: 0 auto;
        margin-top: 95px;
        margin-bottom: 80px;
        background-color: #3e3e3e;
        overflow: hidden;
        @media screen and (max-width: 976px){
            margin-top: 57px;
            margin-bottom: 40px;
        }
        .mdslider{
            position: relative;
            display: flex;
            margin: 0 auto;
            padding: 15px 0;
            min-width: 200%;
            min-width: 100%;
            width: min-content;
            animation: 29.8667s linear 0s infinite normal none running sliderModel;
            @media screen and (max-width: 976px){
                padding: 8px 0;
            }
            img{
                height: 320px;
                max-width: 1660px;
                flex: 1;
                margin-right: 15px;
                @media screen and (max-width: 976px){
                    height: 181px;
                    margin-right: 8px;
                }
            }
        }
    }
}
@keyframes sliderModel {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
.series-list{
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 976px){
        flex-direction: column;
    }
}
.series-lite-item{
    display: flex;
    flex-direction: column;
    margin: 0 46px;
    position: relative;
    @media screen and (max-width: 976px){
        flex-direction: row-reverse;
        margin: 0;
        width: 100%;
        padding: 0 20px;
    }
    &:nth-child(even){
        flex-direction: column-reverse;
        @media screen and (max-width: 976px){
            flex-direction: row;
            .series-text{
                text-align: left;
                margin-right: 0;
                margin-left: 24px;
                margin-top: 46px;
            }
        }
    }
    .title-h4{
        color: $color-primary-2;
    }
    .series-img{
        max-width: 182px;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        @media screen and (max-width: 976px){
            max-width: 142px;
        }
    }
    .series-text{
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        @media screen and (max-width: 976px){
            text-align: right;
            margin-right: 24px;
            margin-top: 16px;
            width: 100%;
        }
        .info{
            @media screen and (max-width: 976px){
                text-align: inherit;
            }
        }
    }
    .series-img-deco{
        position: absolute;
        background-color: #F9F1AD;
        &-1{
            width: 136px;
            height: 106px;
            top: 91px;
            right: -10px;
            @media screen and (max-width: 976px){
                width: 106px;
                height: 83px;
                top: 71px;
                right: 5px;
            }
        }
        &-2{
            width: 61px;
            height: 58px;
            top: 22px;
            left: -20px;
            @media screen and (max-width: 976px){
                width: 47px;
                height: 46px;
                top: 70px;
                right: 80px;
                left: auto;
            }
        }
        &-3{
            width: 145px;
            height: 134px;
            top: -20px;
            right: -60px;
            @media screen and (max-width: 976px){
                width: 112px;
                height: 104px;
                top: 60px;
                right: 90px;
            }
        }
    }
}
//版型
.series-m1,.series-m3{
    background-color: $color-primary-3;
    .series-info{
        margin-left: 34px;
        @media screen and (max-width: 976px){
            margin-left: 12px;
        }
    }
}
.series-m1{
    .title-bg-wrap{
        position: relative;
        &:before{
            content: '';
            width: 50%;
            height: 77px;
            background-color: #fff;
            display: block;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: 0;
            @media screen and (max-width: 976px){
                width: 90%;
                margin-left: 0;
                height: 53px;
            }
        }
    }
    .series-top{
        max-width: 741px;
        margin-bottom: 96px;
        @media screen and (max-width: 976px){
            margin-bottom: 24px;
        }
        img{
            max-width: 424px;
            @media screen and (max-width: 976px){
                max-width: 280px;
            }
            @media screen and (max-width: 414px){
                max-width: 240px;
            }
        }
    }
}
.series-m2{
    .series-top{
        max-width: 996px;
        @media screen and (max-width: 976px){
            flex-direction: column;
        }
        img{
            max-width: 629px;
            margin-right: 0;
            margin-left: auto;
            @media screen and (max-width: 976px){
                max-width: 362px;
            }
        }
        .title-h3{
            @media screen and (max-width: 976px){
                width: 186px;
                margin: 0;
                // margin-bottom: -20px;
            }
        }
    }
    .series-info{
        text-align: right;
        width: 100%;
        margin-right: 43px;
        @media screen and (max-width: 976px){
            width: 65%;
            margin: 0 auto 16px;
        }
    }
}
.series-m3{
    .series-top{
        max-width: 996px;
        @media screen and (max-width: 976px){
            flex-direction: column-reverse;
        }
        img{
            max-width: 555px;
            margin-left: 0;
            margin-right: auto;
            @media screen and (max-width: 976px){
                max-width: 320px;
                margin-top: -30px;
            }
            @media screen and (max-width: 414px){
                max-width: 280px;
            }
        }
        .title-h3{
            @media screen and (max-width: 976px){
                width: 186px;
                margin: 0;
            }
        }
        .tag-line,.series-name{
            @media screen and (max-width: 976px){
                text-align: right;
            }
        }
    }
    .series-info{
        text-align: left;
        width: 100%;
        margin-right: 43px;
        @media screen and (max-width: 976px){
            width: 65%;
            margin: 0 20px 16px auto;
        }

        .tag-line{
            @media screen and (max-width: 976px){
                margin-bottom: 12px;
            }
        }
    }
}
//個別設定
.series-2-wrap{
    .series-top{
        .title-h3{
            @media screen and (max-width: 976px){
                margin-bottom: -20px;
            }
        }
    }
    .series-info{
        .icon{
            top: 10px;
            margin-right: 16px;
            @media screen and (max-width: 976px){
                top: -30px;
                right: -120px;
            }
            @media screen and (max-width: 414px){
                right: -140px;
            }
            img{
                @media screen and (max-width: 976px){
                    width: 30px;
                }
            }
        }
    }
}
.series-3-wrap{
    .series-info{
        position: relative;
        .icon{
            position: absolute;
            top: 110px;
            right: 85px;
            @media screen and (max-width: 976px){
                top: 40px;
                right: 30px;
            }
            img{
                @media screen and (max-width: 976px){
                    width: 20px;
                }
            }
        }
    }
}
.series-4-wrap{
    .series-info{
        @media screen and (max-width: 976px){
            position: relative;
        }
        .icon{
            top: -20px;
            margin-right: 10px;
            @media screen and (max-width: 976px){
                position: absolute;
                top: -40px;
                right: 20px;
            }
            @media screen and (max-width: 414px){
                right: -5px;
            }
            img{
                @media screen and (max-width: 976px){
                    width: 24px;
                }
            }
        }
    }
}
.series-5-wrap{
    .series-info{
        @media screen and (max-width: 976px){
            position: relative;
        }
        .icon{
            top: 0;
            margin-left: 20px;
            @media screen and (max-width: 976px){
                position: absolute;
                top: -22px;
                right: 30px;
                transform: rotate(-10deg);
            }
            @media screen and (max-width: 414px){
                right: 10px;
            }
            img{
                @media screen and (max-width: 976px){
                    width: 30px;
                }
            }
        }
    }
}


//footer
.foot-banner{
    padding: 110px 0;
    @media screen and (max-width: 976px){
        padding: 38px 0;
    }
    .container{
        max-width: 940px;
        position: relative;
        @media screen and (max-width: 976px){
            max-width: 414px;
        }
    }
    .foot-banner-text{
        position: absolute;
        top: 0;
        left: 0;
    }
}